<%- include("header") -%>

<h2>About</h2>
<p style="font-family: Ubuntu, sans-serif">
	Our Todo Application is a powerful productivity tool built using Node.js and
	utilizes the robust Mongoose library for seamless database integration.
	Developed with TypeScript, it offers enhanced reliability and type safety.
	With our application, you can effortlessly manage your tasks, create to-do
	lists, set priorities, and track your progress. Stay organized and maximize
	your productivity with our user-friendly interface and flexible features.
	Experience the convenience of a modern and efficient todo application
	designed to simplify your daily life.
</p>

<%- include("footer") -%>
