<footer>
    Copyright <span id="year">2022</span> 
    <a href="https://github.com/ujjwalgarg100204">Ujjwal Garg</a>
</footer>
<script>
    document.getElementById("year").textContent = `${new Date().getFullYear()}`;
</script>
</body>
</html>